body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  padding: 5px;
  text-align: center;
}
header {
  width: 100vw;
  height: 10vh;
  background-color: rgb(16, 15, 30);
  box-shadow: 0px 10px 50px rgba(50, 45, 76, 0.5);
  display: flex;
  position: fixed;
  top: 0px;
  color: white;
}
header a {
  color: white;
}
#links {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#logo {
  height: 100%;
}
#logo a {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: block;
}
#content {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#searchBar {
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
#searchBar select,
input {
  padding: 5px;
  margin-left: 10px;
}
#searchBar label {
  display: flex;
  align-items: center;
}
#tableContainer {
  width: 90%;
  height: 60vh;
  max-height: 60vh;
  overflow: auto;
}
footer {
  width: 100vw;
  height: 10vh;
  background-color: rgb(16, 15, 30);
  box-shadow: 0px -10px 50px rgba(50, 45, 76, 0.5);
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
